<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <connectionStrings>
    <add name="northwind" providerName="MySql.Data.MySqlClient" connectionString="Data Source=192.168.0.61;Database=northwind;User ID=root;Password=123456;Port=3306"/>
  </connectionStrings>

</configuration>